* {margin:0; padding:0; font-family: Calibri, Arial, Tahoma, Verdana; color: black; direction: rtl;}

header,main,nav,aside,article,section,footer,a {
    display:block;
    float: right;
}

/*@media (min-width: 851px) {*/
    /*.wrapper {*/
        /*height: 1000px;*/
        /*width: 74.05%;*/
        /*margin: 0px auto;*/
    /*}*/

    /*.settingsIcon {*/
        /*right: 140px;*/
    /*}*/

    /*header input {*/
        /*right: 155px;*/
    /*}*/
/*}*/

@media (min-width: 1000px) {
    .wrapper {
        height: 1000px;
        width: 1000px;
        margin: 0px auto;
    }

    .settingsIcon {
        right: 140px;
    }

    header input {
        right: 155px;
    }
}
@media (max-width: 999px) {
    .wrapper {
        height: 1000px;
        width: 94%;
        margin: 0px auto;
    }

    .settingsIcon {
        right: 60px;
    }

    header input {
        right: 85px;
    }
}
.clear {
    clear: both;
}

a { text-decoration: none;}

/*++++++++++++++++++++++++++++++++++++++++ Scrollbar styles++++++++++++++++++++++++++++++++++++++++*/
/*::-webkit-scrollbar {
    width: 15px;
    height: 100%;
}

::-webkit-scrollbar-track {
    border: 1px solid gray;
}

::-webkit-scrollbar-thumb {
    background: dimgray;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #88ba1c;
}*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/*++++++++++++++++++++++++++++++++++++++++ HOME PAGE ++++++++++++++++++++++++++++++++++++++++*/

/*----   header   ----*/

header {
    width: 100%;
    height: 120px;
    background-color: white;
    position: fixed;
    z-index: 8;
    border-bottom: 2px solid black;
}

header .wrapper { height: 120px;}

header * {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.logo
{
    height: 51px;
    width: 134px;
    background-image: url(../images/logo.png);
    display:block;
    margin-left: 8px;
    float: left;
 }

.menuIcon {
    width: 30px;
    height: 30px;
    background-image: url(../images/menu_icon.png);
    margin-right: 8px;

}

.userProfile {
    height: 50px;
}

.userPic {
    height: 50px;
    width: 50px;
    border: #7a7a7a 1px solid;
    border-radius: 50px;
    background-image: url(../images/profilePic.jpeg);
    margin-right: 22px;
}

.userPic section:nth-child(1) {
    height: 22px;
    width: 22px;
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 20px;
    text-align: center;
    margin-right: -11px;
}

#notifications {
    height: auto;
    width: 145px;
    position: absolute;
    top: 155px;
    padding-top: 16px;
    padding-right: 7px;
    background-color: white;
    font-size: 11px;
    border: black 1px solid;
    border-radius: 8px;
    display: none;
}

#notifications p:nth-child(3) {
    margin-top: 19px;
}

#notifications p a {
    margin-top: 7px;
    text-decoration: underline blue;
}

.userProfile b{
    margin-right: 10px;
    font-size: 18px;
    position: absolute;
    /*font-family: 'Open Sans', 'sans-serif';   //      !*גוגל-פונט של הטמעה*!*/
}

.settingsIcon {
    height: 30px;
    width: 30px;
    background-image: url(../images/settings_icon.png);
    position: relative;
}

header input{
    height: 30px;
    width: 45%;
    border-radius: 50px;
    color: dimgray;
    font-weight: bold;
    padding-right: 8px;
    /*right: 155px;*/
}

/*-----     end of header     -----*/
/***********************************/
/***********************************/

/*----   nav   ----*/

#calendarWithOpenMenu nav {
    background-color: #7a7a7a;
    width: 20%;
    height: 100%;
    position: relative;
    top: 120px;

}

#calendarWithOpenMenu nav ul {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    position: fixed;
}
#calendarWithOpenMenu nav li {
    list-style-type: none;
    width: 100%;
    height: 38px;
    margin-top: 2px;
}

#calendarWithOpenMenu nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 5px;
}

#calendarWithOpenMenu nav a:hover {
    font-weight: bolder;
    font-size: 16px;
}

#calendarWithOpenMenu .selected{
    background-color: darkgrey;
    width: 20%;
    font-weight: bolder;
}

/*-----     end of nav     -----*/
/***********************************/
/***********************************/

/*----   main   ----*/

#calendarWithOpenMenu main {
    width: 80%;
    height: 100%;
    position: relative;
    top: 120px;
    background-color: #c0c0c0;
    /*overflow: scroll;*/
}

#calendarWithOpenMenu main article {
    height: 19px;
    width: 100%;
    position: relative;
    top: 20px;
    font-size: 13px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 15px;
}

#calendarWithOpenMenu .floatingActiveUser {
    height: 100%;
    width: fit-content;
    margin-right: 9px;
    margin-left: 3px;
    background-color: white;
    opacity: 0.8;
    padding-right: 6px;
    padding-left: 9px;
    border-radius: 30px;
}

#calendarWithOpenMenu .mainHeader {
    height: 35px;
    width: 100%;
    margin-top: 45px;
    padding-right: 30px;
    padding-top: 5px;
    background-color: white;
    opacity: 0.8;
    font-weight: bolder;
    font-size: 22px;
}

#calendarWithOpenMenu .floatingSettings {
    height: 80px;
    width: 127px;
    position: relative;
    top: 12px;
    left: 23px;
    float: left;
}

#calendarWithOpenMenu .floatingSettings section {
    width: 121px;
    margin: 1px;
    background-color: black;
    color: white;
    padding-right: 4px;
    padding-top: 2px;
    border-radius: 3px;
}

#calendarWithOpenMenu .floatingSettings .presentation {
    height: 26px;
    position: relative;
}
#calendarWithOpenMenu .floatingSettings a {
    height: 13px;
    width: 22px;
    background-image: url(../images/down_arrow/open_down_arrow_black_bg.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 97px;
    top: 8px;
}

#calendarWithOpenMenu .floatingSettings section:nth-last-child(1) {
    height: 16px;
    font-size: 12px;
    position: relative;
}

#calendarWithOpenMenu .floatingSettings section:nth-last-child(1) a {
    top: 3px;
}

#calendarWithOpenMenu .floatingVisualProperties {
    width: 137px;
    height: 94px;
    position: relative;
    top: 100px;
    left: -104px;
    float: left;
}

#calendarWithOpenMenu .floatingVisualProperties section {
    margin: 2px;
    background-color: black;
    opacity: 0.15;
    border-radius: 6px;
}

#calendarWithOpenMenu .floatingVisualProperties section:nth-child(1) {
    width: 43px;
    height: 31px;
}

#calendarWithOpenMenu .floatingVisualProperties section:nth-child(2) {
    width: 86px;
    height: 90px;
}
/*-----     end of main     -----*/
/***********************************/
/***********************************/

/*----   footer   ----*/

footer {
    width: 100%;
    height: 25px;
    position: fixed;
    margin-bottom: 4px;
    background-color: #121212;
    opacity: 0.98;
    bottom: 0;
}

footer section {
    height: 13px;
    margin: 6px;
    font-size: 12px;
    color: white;
}

footer section:nth-child(2) {float: left}
footer section a {
    font-size: 12px;
    color: white;
}

footer a:nth-child(2)
{
    margin-right: 5px;
    margin-left: 5px;
}


/*+++++++++++++++++++++++++++++++ HOME PAGE - END +++++++++++++++++++++++++*/

/*////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////*/

/*++++++++++++++++++++++++++++++++ REGISTRATION ++++++++++++++++++++++++++++++++*/

#box {
    width:500px;
    height: 562px;
    margin: 0px auto;
    margin-top: 21px;
    margin-bottom: 50px;
    background-color: #8ba4dc;
    opacity: 0.95;
    border-radius: 35px;
    box-shadow: 11px 11px 10px darkslategray;
    border: grey 1px solid;
}
#box form {
    direction: rtl;
    position: relative;
}

#box .mustFill {
    color:red;
}

#box form p:nth-child(1) {
    text-shadow: grey 1px 1px 1px;
}

#box .boxContainer {
    margin-right: 35px;
}

#box .logo2 {
    margin-top: 20px;
}
#box h1 {
    padding-top: 20px;
    text-align: center;
    font-family: Cambria, David, Tahoma, Arial;
    text-shadow: #7a7a7a 2px 2px 2px;
}

#box h4 {
    margin-top: 9px;
    margin-bottom: 2px;
}

#box form p:nth-last-child(2){

    margin-top: 15px;
    font-size: 18px;
}
#box input {
    width: 422px;
    height: 27px;
    font-size: 15px;
}
#box input:focus { background-color: bisque;}

#box #submitBox {
    margin-top: 15px;
    height: 30px;
    width: 60px;
    font-size: 15px;
    position: absolute;
    border-color: black;
    font-weight: bolder;
    right: 185px;
    margin-bottom: 17px;
    border-radius: 3px;
}

#box #submitBox:hover {
    background-color: white;
}

#box .specialLabel input {
    width: 15px;
    height: 15px;
    margin-right:5px;
}

#box .showpass input {
    width: 15px;
    height: 15px;
    margin-right:5px;
    margin-top: 4px;
}

/*+++++++++++++++++++++++++++++++ REGISTER - END +++++++++++++++++++++++++++++*/

/*////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////*/

/*+++++++++++++++++++++++++++++++CALENDAR SETTINGS+++++++++++++++++++++++++++++*/
.googleCalendar{
    top: 122px;
    right: 24px;
    position: absolute;
    border: black;
    width: 94%;
    height: 90%;
    border: darkgrey 1px solid;
}

.googleCalendar iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

/*++++++++++++++++++++++++++++++END CALENDAR SETTINGS+++++++++++++++++++++++++++++*/

/*////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////*/

/*+++++++++++++++++++++++++++++++appointment settings+++++++++++++++++++++++++++++*/

#formAppointment {
    display: none;
    position: relative;
    right: 14px;
    top: 8px;
}
/*#calendarWithOpenMenu  #appointment a{*/
    /*text-decoration: none;*/
    /*color: white;*/
    /*font-size: 13px;*/
    /*margin-top: 5px;*/
    /*margin-right: 18px;*/
/*}*/


#appointmentTextArea {
    width: 500px;
    height:200px;
}

#formAppointment input:last-child {
    margin-top: 20px;
}
#formAppointment input:last-child:hover {
    font-weight: bold;
}

/*#calendarWithOpenMenu .mainHeaderPrev {*/
    /*height: 35px;*/
    /*width: 20%;*/
    /*margin-top: 45px;*/
    /*padding-right: 30px;*/
    /*padding-top: 5px;*/
    /*background-color: white;*/
    /*opacity: 0.8;*/
    /*font-weight: bolder;*/
    /*font-size: 22px;*/
    /*font-family: 'Open Sans', sans-serif;*/
/*}*/

#formAppointment input {
    width: 200px;
    height: 30px;
    font-size: 18px;
}

#selectAppointment {
    position: absolute;
    right: 29px;
    margin-top: 28px;
    font-size: 18px;
}

#selectAppointment select {
    margin-top: 7px;
    height: 28px;
    font-size: 14px;
}

#selectAppointment a:last-child {
    height: 22px;
    width: 50px;
    text-align: center;
    padding-top: 3px;
    background-color: white;
    font-weight: bold;
    border: black 1px solid;
    border-radius: 2px;
    position: absolute;
    margin-top: 71px;
    right: 78px;
    font-size: 16px;
}

#selectAppointment a:last-child:hover {
    font-size: 16px;
}

#EditSuccessfully {
    position: absolute;
    right: 29px;
    display: none;
    margin-top: 28px;
}
#EditSuccessfully a {
    margin-top: 13px;
    text-decoration: underline;
}

/*+++++++++++++++++++++++++++++++END appointment settings+++++++++++++++++++++++++++++*/